{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" >
<div class="parent">
      <div class="sidebar">
      <head>
        <style>
            li{
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>

        <h2>TMYJRLD</h2>
          <br>
          <br>
          <br>
          <li><a href="{% url 'home' %}"><i class="fas fa-house-user"> </i>Home</a></li>
          <li><a href="{% url 'contact' %}"><i class="fas fa-comments"> </i>Contacts</a></li>
          <li><a href="{% url 'about' %}"><i class="fas fa-magnifying-glass"> </i>About</a></li>

    </div>

  <div class="bg">


  </div>

</div>
